* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f8fb;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    /*opacity: 0.8; !* 设置不透明度为80% *!*/
}

.form-title {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    background-color: #6c7ae0;
    padding: 15px;
}

.fa-plus-circle {
    margin-right: 10px;
}

.form-group {
    padding: 20px;
}

label {
    font-size: 18px;
    font-weight: 500;
    color: #565656;
    margin-bottom: 10px;
}

input,
select {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    background-color: #f6f8fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
}

input:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(108, 122  , 224, 0.25);
}

.required {
    color: red;
    margin-left: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.btn-submit,
.btn-exit {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-submit {
    background-color: #6c7ae0;
    color: #fff;
}

.btn-submit:hover {
    background-color: #5161b5;
}

.btn-exit {
    background-color: #dcdcdc;
    color: #444;
}

.btn-exit:hover {
    background-color: #c4c4c4;
}

.image-preview {
    text-align: center;
    margin-bottom: 20px;
}

.image-preview img {
    max-width: 100%;
}
/*背景图片*/
.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../page/add2.gif");
    background-size: cover;
    z-index: -1; /* 将z-index设为-1 */
}
