
/* 导航栏样式 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #333;
    color: #fff;
    padding: 0 20px;
}

/*.menu-container{*/
/*    color: lightslategray;*/
/*}*/

/* 左侧导航区域样式 */
.navbar-left a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}

/* 鼠标悬停在导航栏选项上时的样式 */
.navbar-left a:hover {
    background-color: #f2f2f2;
    color: #333;
    border-radius: 5px;
}

/* 右侧导航区域样式 */
.navbar-right .like-button {
    background-color: #fff;
    border: none;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* 返回按钮容器样式 */
.back-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

.back-button {
    display: inline-block;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #333;
    color: #fff;
}

/* 菜单容器样式 */
.menu-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* 菜单列表样式 */
.menu-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.menu-list li {
    display: inline-block;
    margin: 0 10px;
}

.menu-list li a {
    display: block;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu-list li a:hover {
    background-color: #333;
    color: #fff;
}
